.image1
{
    background-image: url(./images/box1/2.jpg);
    background-size: cover;
}
.image2
{
    background-image: url(./images/box1/2\ \(1\).jpg);
    background-size: cover;
}
.image3
{
    background-image: url(./images/box1/2\ \(2\).jpg);
    background-size: cover;
}
.image4
{
    background-image: url(./images/box1/2\ \(3\).jpg);
    background-size: cover;
}
.image5
{
    background-image: url(./images/box1/2\ \(4\).jpg);
    background-size: cover;
}
.image6
{
    background-image: url(./images/box1/2\ \(5\).jpg);
    background-size: cover;
}
.image7
{
    background-image: url(./images/box1/2\ \(6\).jpg);
    background-size: cover;
}
.image8
{
    background-image: url(./images/box1/2\ \(7\).jpg);
    background-size: cover;
}

/*footer-images   --*/
.footer-image1
{
    background-image: url(./footerimages/appstore-dark-md.png);
    background-size: cover;
}
.footer-image2
{
    background-image: url(./footerimages/playstore-gdark-md.png);
    background-size: cover;
}
.footer-image3
{
    background-image: url(./footerimages/amazon-appstore2x.png);
    background-size:cover ;
}
.footer-image4
{
    background-image: url(https://cdn.magzter.com/images/appdownload-page/Microsoft-appStore.svg);
    background-size: cover;
}