*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.navbar
{
    background-color: black;
    display: flex;
    
    
    align-items: center;
    height: 56px;
    padding:0px 15px 0px 15px;
}

.section-one
{
    width: 732px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

.logo  {
    color: white;
    font-size: 39px;
    height: 39px;
    width: 34px;
}
.nav-image
{
    margin-left:20px;
    background-image: url(download.png);
    width: 210px;
    background-size: cover;
}
.section-two
{
    width: 545px;
    display: flex;
    justify-content: space-evenly;
    border-right: 2px solid #A8A8A8;

}
.nav-sectiontwo
{
    color: #A8A8A8;
    font-size: 14px;
    margin: 3px 26px 0px 26px;
   
}
.nav-sectiontwo-icon
{
    color: #A8A8A8;

}
.section-three
{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    color:#A8A8A8;
}

/* Main Section */

.main-first
{

    text-align: center;

    width: 100%;
    height: 650px;
    color: white;
    background-image: url(./web2x\ \(1\).jpg);
    background-size: cover;
    

}
.image{
    background-image: url(logo2x.png);

    background-size: cover;
    width:260px;
    height: 40px;
}
.main-image
{
 display: flex;
 justify-content: center;  
    height: 50px;

}
.main-h1
{
    font-size: 38px;
    margin-top: 20px;
}
.main-span
{
    font-size: 24px;
    font-weight: 500;
    height: 80px;
    margin: 15px 0px 15px 0px;
}
.main-span-one
{
    font-size: 20px;
    font-weight: 600;
}
.main-span-three
{
    font-size: 25px;
    font-weight: 600;
}
.main-span-two
{
    color: rgb(246, 217, 0);
    font-size: 25px;
    font-weight: 600;
}
.main-p{
    color: green;
    font-size: 20px;
    height: 14px;
    margin: 16px 0px 34px;
    font-weight: 500;
}
.main-button
{
    background-color: rgb(246, 217, 0);
    height: 44px;
    width: 280px;
    font-size: 15px;
    color: black;
    padding: 15px 24px 15px 24px;
    font-weight: 500;
}
.main-ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.main-ul li{
  
    margin-left: 20px;
}
.ul-span
{
    background-color: rgb(67, 65, 65);
    font-size: 38px;
    color: #956800;
    margin-bottom: 5px;
    font-weight: 700;
}
.ul-timer
{
    font-size: 12px;
    color: #DFDFDF;

}



/*Box sessions */


.box-large
{ margin-top:50px;

    height: 269px;
    width: 100%;
}
.box-span
{
    color: #545454;
    font-size: 18px;
    font-weight: bold;
}
.box-a{
    font-size: 15px;
    color: #1253b5;
    font-weight: lighter;
    margin-left: 10px;
}
.content-images
{
    display: flex;
    justify-content: space-between  ;
}
.box{
    height: 200px;
    width: 160px;

}
.box-p{
    color: #504E4E;
    font: 14px;
    text-align: center;
}
.cover-box
{
    border: 0.5px solid grey;
    border-radius: 12px;
    width:418px;
    height: 186px;
    display: flex;
   flex-direction: row;

}
.cover-image
{
    width: 100px;
    height: 125px;
    background-image: url(./coverstories/9-YEARS-OF-ODYSSEY.jpg);
    background-size: cover;
}
.one{
    color: #FF6150;
    font-size: 13px;
}
.two{
    font-size: 18px;
    color: #000000;
    font-weight: 800;
    margin: 5px 0px 8px;
}
.three{
    font-size: 15px;
    color: #818181;
    margin-bottom: 8px;
}
.cover-timer
{
    margin-top: 80px;

}
/*popular box catgegory */
.popular-box
{
    display: flex;
   
    color: white;
    background-color: #858383;
    margin-top: 30px;
    height: 155px;
    width: 155px;
    background-image: url(./popular-category/cBusiness.jpg);
    background-size: cover;
}

/*subscription */
.main-subscription
{
    height: 761px;
    width: 100%;
 
    margin-top: 20px;
    padding: 40px 0px 15px;
    display: flex;
    justify-content: space-evenly;

}
.subscription-image
{
    background-image: url(./footer-promotio-ind-2x.png);
    background-size: cover;
    width: 600px;
    height: 700px;
}

.sub-h3
{
    margin-top: 80px;
    font-size: 20px;
    color: #535353;
    padding: 0px 0px 15px;


}
.sub-ul{
    margin: 10px 0px;
   
}
.sub-ul li
{
    margin-top: 10px;
    height: 76px;
    display: flex;
    flex-direction: row;
}
.sub-ul p{
    margin-left: 20px;
    font-size: 24px;
    color: #535353;
    display: flex;
    align-items: center;
}
.sub-image1
{
    background-image: url(./subscription-images/bs-md.png);
    background-size: cover;
    width: 70px;
    height: 70px;
}
.sub-image2
{

    background-image: url(./subscription-images/part-md.png);
    background-size: cover;
    width: 70px;
    height: 70px;


}
.sub-image3
{

    background-image: url(./subscription-images/readoffline-md.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    
}
.sub-image4
{

    background-image: url(./subscription-images/cancelanytime-md.png);
    background-size: cover;

    width: 70px;
    height: 70px;
}
.sub-image5
{

    background-image: url(./subscription-images/digital-md.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    
}
.wrapper
{
    text-align: center;
}
.sub-button
{
    background-color: rgb(254, 213, 4);
    font-size: 15px;
    color: black;
    border-radius: 5px;
    padding: 16px 20px 12px 20px;
    border: none;
    font-weight: 500;    

}

.footer-panel1
{
    height: 160px;
    width: 100%;
    background-color: #1253B5;
    display: flex;

    justify-content: center;
    padding: 20px 15px;

}
.footer-p{
    font-size: 24px;
    font-weight: 600;
    color: white;

}
.footer-images
{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.img {
    width: 110px;
    height: 32px;

}

.qr-code
{
    width: 93px;
    height: 105px;
    background-image: url(https://cdn.magzter.com/images/appdownload-page/appdownload-qrcode.svg);
    background-size: cover;

}
.footer-section3
{
    width: 160px;
    height: 153px;
    color: white;

}
.footer-section2 {
    width: 1px;
    height: 170px;
    background-color: gray;
    text-align: center;
    margin: 0px 30px 0px 30px;
}
/* PANEL 2 IN FOOTER */
.footer-panel2
{
    width: 100%;
    height: 283px;
    display: flex;

  
}
.panel2-section1
{
    display: flex;
    align-items: center;
}
.panel2-image
{
    background-image: url(https://cdn.magzter.com/images/logo/magzter_logo_footer.svg);
    background-size: cover;
    width: 175px;
    height: 73px;

}

.panel2-icons
{

    display: flex;

}
.section1-upper
{
    margin-left: 70px;
    width: 994px;
    height: 207px;
    display: flex;
    justify-content: space-evenly;
    

}
.section-h4
{
    margin-left: 20px;

}
.section-h4 h4{
    margin-bottom: 10px;
}
.section-h4 a{
    font-size: 14px;
    margin: 10px 10px;
    color: #666666;
    font-weight: 600;
}


/** footer lower section */

.section1-lower
{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    height: 76px;
    width: 100%;
}
.lower-1
{
    font-size: 15px;
    color: #333333;
    height: 20;
    width: 415px;

}

.lower-2 span {
    color: #256DC3;
    font-size: 14px;
    margin: 3px 0px;
}
.diff
{
    color: black;
}
.lower-4 span
{
    color: #006CC0;
    font-size: 13px;

}
.section1-lower
{
border-top: 2px solid grey;


}