*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.navbar
{
    background-color: black;
    display: flex;
    
    
    align-items: center;
    height: 56px;
    padding:0px 15px 0px 15px;
}

.section-one
{
    width: 732px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

.logo  {
    color: white;
    font-size: 39px;
    height: 39px;
    width: 34px;
}
.nav-image
{
    margin-left:20px;
    background-image: url(download.png);
    width: 210px;
    background-size: cover;
}
.section-two
{
    width: 545px;
    display: flex;
    justify-content: space-evenly;
    border-right: 2px solid #A8A8A8;

}
.nav-sectiontwo
{
    color: #A8A8A8;
    font-size: 14px;
    margin: 3px 26px 0px 26px;
   
}
.nav-sectiontwo-icon
{
    color: #A8A8A8;

}
.section-three
{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    color:#A8A8A8;
}

/* Main Section */
.container{
    border: 2px solid green;
   
   
 

}
.main-first
{

    text-align: center;

    width: 100%;
    height: 650px;
    color: white;
    background-image: url(./web2x\ \(1\).jpg);
    background-size: cover;
    

}
.image{
    background-image: url(logo2x.png);

    background-size: cover;
    width:260px;
    height: 40px;
}
.main-image
{
 display: flex;
 justify-content: center;  
    height: 50px;

}
.main-h1
{
    font-size: 38px;
    margin-top: 20px;
}
.main-span
{
    font-size: 24px;
    font-weight: 500;
    height: 80px;
    margin: 15px 0px 15px 0px;
}
.main-span-one
{
    font-size: 20px;
    font-weight: 600;
}
.main-span-three
{
    font-size: 25px;
    font-weight: 600;
}
.main-span-two
{
    color: rgb(246, 217, 0);
    font-size: 25px;
    font-weight: 600;
}
.main-p{
    color: green;
    font-size: 20px;
    height: 14px;
    margin: 16px 0px 34px;
    font-weight: 500;
}
.main-button
{
    background-color: rgb(246, 217, 0);
    height: 44px;
    width: 280px;
    font-size: 15px;
    color: black;
    padding: 15px 24px 15px 24px;
    font-weight: 500;
}
.main-ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.main-ul li{
  
    margin-left: 20px;
}
.ul-span
{
    background-color: rgb(67, 65, 65);
    font-size: 38px;
    color: #956800;
    margin-bottom: 5px;
    font-weight: 700;
}
.ul-timer
{
    font-size: 12px;
    color: #DFDFDF;

}



/*Box sessions */

.content-pages
{
    border: 2px solid blue;


}
.box1
{ margin-top:50px;
    border: 3px solid black;
    height: 269px;
    width: 100%;
}
.box-span
{
    color: #545454;
    font-size: 18px;
    font-weight: bold;
}
.box-a{
    font-size: 15px;
    color: #1253b5;
    font-weight: lighter;
    margin-left: 10px;
}
.content-images
{
    display: flex;
    justify-content: space-between  ;
}
.box{
    height: 200px;
    width: 160px;
    border: 2px solid orange;
}
.box-p{
    color: #504E4E;
    font: 14px;
    text-align: center;
}